html {
    background-color: rgb(230, 119, 252);
}

body {
    width: 75%;
   margin: 0 auto; 

   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: white;
}

#cute_burger {
    display: block;
   margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 65px;
    margin: 50px;
}

.burgerAvailable {
    font-family: 'Crafty Girls', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #d39df3;
    border: none;
}

.burgerAvailable:hover {
    background-color: #d39df3;
}

.burgerEaten {
    font-family: 'Crafty Girls', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: #ffd1c9;
}

h2 {
     text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 40px;
    margin: 50px;
}

.formContainer {
    background-color: rgb(255, 0, 234);
}

.addBurgerButton {
    font-family: 'Crafty Girls', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: rgb(230, 119, 252);;
    border: none;
}

.addBurgerButton:active {
   background-color: rgb(230, 119, 252);
}

.burgerFooter {
   background-color: rgb(230, 119, 252);
   padding: 20px 0;
}